<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <link rel="stylesheet" href="/assets/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <script src="/assets/jquery-3.5.1.min.js"></script>
    <script src="/assets/bootstrap-4.5.0-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="row" style="height: 50px;position: relative;top: 50px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
</div>
<div class="row" style="position: relative;top: 80px;height: 200px;">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form action="/loginapi">
            <div class="form-group">
              <label>登录名:</label>
              <input type="text" class="form-control" name="userid">
            </div>
            <div class="form-group">
              <label>密码:</label>
              <input type="password" class="form-control" name="password">
            </div>
            
            <button type="submit" class="btn btn-success">登录</button>
            
          </form>
          <button class="btn btn-success" style="position: absolute;left: 100px;top: 172px;" onclick="btnclick()" >注册</button>
    </div>
    <div class="col-sm-4"></div>
</div>
<script>
  function btnclick() {
    window.location.href = '/register'
  }
  let button=document.querySelectorAll('button')
  button.addEventListener('touchend',()=>{
    btnclick()
  })
</script>
</body>
</html>