body{
    margin: 0;
    background-color: #e1e1e1;
  }
  .navigator{
    width: 100%;
    height: 50px;
    background-color: #444444;
    position: relative;
  }
  .icon{
    height: 28.2px;
    width: 120px;
    position: absolute;
    background-image: url('/assets/imgs/icons/cnodejs_light.svg');
    background-size: 120px 28.2px;
    left: 55px;
    top: 8px;
  }
  #search{
    height: 26px;
    width: 233px;
    padding: 3px 5px 3px 22px;
    color: #666;
    border: 0;
    margin-top: 2px;
    transition: all .5s;
    border-radius: 26px;
    position: absolute;
    left: 213px;
    top: 10px;
    background-color: #888;
  }
  #search:focus{
    background-color: white;
    outline: none;
  }
  .loginbtn{
    font-size: 13px;
    color: #ccc;
    float: right;
    margin-right: 14px;
    margin-top: 17px;
  }
  .loginbtn:hover{
    color: white;
    text-decoration: none;
  }
  .headnavigator{
    width: 100%;
    height: 40px;
    margin: 10px;
  }
  .contentitem{
    position: relative;
    width: 100%;
    height: 50.68px;
    padding: 10px;
    background-color: white;
  }
  .contentitem:hover{
    background-color: transparent;
  }
  .portrait{
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    background-color: aqua;
    margin: 0 10px;
    float: left;

  }
  .tab{
    padding: 3px 4px 3px 4px;
    margin: 0 10px 0 10px;
    float: left;
    font-size: 14px;
    color: #80bd01;
  }
  .typenormal{
    padding: 2px 4px 2px 4px;
    background-color: #e5e5e5;
    color: #999;
    border-radius: 3px;
  }
  .typelight{
padding: 2px 4px 2px 4px;
    background-color: #80bd01;;
    color: #fff;
    border-radius: 3px;
    float: left;
    position: relative;
    top: calc(50% - 11px);
    margin-left: 10px;
  }
  .content{
    font-size: 16px;
    margin: 0 5px;
    float: left;
    position: relative;
    top: calc(50% - 13px);
    color: black;
  }
  .count{    font-size: 10px;
    color: #b4b4b4;
    display: block;
    position: relative;
    float: left;
    top: calc(50% - 6px);
  }
  .support{
    color: #9e78c0;
    font-size: 14px;
    float: left;
    position: relative;
    top: calc(50% - 10px);
  }
  .sbumittime{
    float: right;
    font-size: 11px;
    color: #778087;
    position: relative;
    top: calc(50% - 5.5px);
  }
  .release{
    font-size: 14px;
    letter-spacing: 2px;
    box-shadow: none;
  
    vertical-align: middle;
    color: #fff;
    cursor: pointer;
    border: none;
    display: block;
    float: right;
    border-radius: 3px;
    background-color: #80bd01;
    padding:6px 10px;
    margin-right: 20px;

  }
  .release:hover{
    background-color: #7bb205;
    color: #ededed;
  }